PORT=3000
JWT_SECRET=super_secret_capstone_11_key
DATABASE_URL=postgresql://postgres:rbcetrajooooos@db.vlledfemfdtpivpkmdmr.supabase.co:5432/postgres?sslmode=require&schema=public
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
